
<div >
  <div id="successMessage"></div>
  <div class="form-content">


  <button class="btn" (click)="addEmployee()">Add Employee</button>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Contact</th>
        <th scope="col">Gender</th>
        <th scope="col">Skills</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employee;let i=index">
        <td>
          {{employee.employeeId}}
        </td>
        <td>
          {{employee.name}}
        </td>
        <td>
          {{employee.email}}
        </td>
        <td>
          {{employee.contactNumber}}
        </td>
        <td>
          {{employee.gender}}
        </td>
        <td>
         
            <li *ngFor="let skill of employee.skills">
              {{skill.skillName}} {{skill.experience}}
            </li>
         
        </td>
        <td><fa-icon [icon]="faEdit" (click)="editEmployee(employee.employeeId)"  ></fa-icon><fa-icon [icon]="faTrash" (click)="deleteEmployee(i)" ></fa-icon></td>
      </tr>

 
      <tbody>
  </table>
</div>
</div>